<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wheely Ride</title>


    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="vendor/popper.min.js"></script>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--Aplication scripts -->

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/userPage.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>




  </head>
  <body>


        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/"><h1>Wheely Ride</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="explore.html">Explore Bike Rides</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="biking_info.html">Biking Tips</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="create_route.html">Share a Ride</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
<br>
<br>
<br>
<br>

        <!-- Header with Background Image -->
         <header class="business-header">
           <div class="container">
             <div class="row">
               <div class="col-lg-12">
                 <h1 class="display-3 text-center text-white mt-4"></h1>
               </div>
             </div>
           </div>
         </header>

         <!-- Page Content -->
         <div class="container">

           <div class="row">
             <div class="col-sm-12">
               <h2 class="mt-4">Wheel-ing to Know More Routes?</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
               <p>

               </p>
             </div>

           </div>
           <!-- /.row -->

           <div class="row">
             <div class="col-sm-4 my-4">
               <div class="card">
                 <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                 <div class="card-body">
                   <h4 class="card-title">Card title</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                 </div>
                 <div class="card-footer">
                   
                 </div>
               </div>
             </div>
             <div class="col-sm-4 my-4">
               <div class="card">
                 <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                 <div class="card-body">
                   <h4 class="card-title">Card title</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                 </div>
                 <div class="card-footer">
                  
                 </div>
               </div>
             </div>
             <div class="col-sm-4 my-4">
               <div class="card">
                 <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                 <div class="card-body">
                   <h4 class="card-title">Card title</h4>
                   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                 </div>
                 <div class="card-footer">
                   
                 </div>
               </div>
             </div>

           </div>
           <!-- /.row -->

         </div>
         <!-- /.container -->


        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Hidaner Ferrer 2017</p>
          </div>
          <!-- /.container -->
        </footer>

  </body>
</html>
