<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wheely Ride</title>


    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmK3eWCI9R6rI31fLCARImWUV2xqd5gWM&callback=initMap">
    </script>
    <!--Aplication scripts -->

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
    <script type="text/javascript" src="/scripts/landingPage.js"></script>
    <script type="text/javascript" src="/scripts/userPage.js"></script>

    </script>
  </head>
  <body>


    <!-- Render Map -->
    <div id="map"></div>

<nav class="container">
<div id="addUSer">
  <button type="button" class="btn btn-add-user">New User</button>
</div>
<div id="addRoute">
  <button type="button" class="btn btn-add-route">New Route</button>
</div>
</nav>


    <div id="floating-panel">
        <b>Mode of Travel: </b>
        <select id="mode">
          <!-- <option value="DRIVING">Driving</option> -->
          <!-- <option value="WALKING">Walking</option> -->
          <option value="BICYCLING">Bicycling</option>
          <!-- <option value="TRANSIT">Transit</option> -->
        </select>
    </div>

<!-- Render One User Area -->
<div id="user-render"><div>









<!-- Modal for USERS -->
<div class="container">
  <!--FORM to add user modal-->
  <!-- begin userModal: this is not visible until you call .modal() on it -->
  <div class="modal fade" tabindex="-1" role="dialog" id="userModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add New Rider</h4>
        </div>
        <div class="modal-body">

          <fieldset class='form-horizontal'>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">First Name</label>
              <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="lastName">Last Name</label>
              <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">Username</label>
              <div class="col-md-4">
                <input id="username" name="username" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="bikeStyle">Bike Style</label>
              <div class="col-md-4">
                <input id="bikeStyle" name="bikeStyle" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="age">Age</label>
              <div class="col-md-4">
                <input id="age" name="age" type="number" placeholder="" class="form-control input-md">
              </div>
            </div>

          </fieldset>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveUser">Save Rider</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>


<!-- Modal for ROUTES -->
<div class="container">
  <!--FORM to add user modal-->
  <!-- begin userModal: this is not visible until you call .modal() on it -->
  <div class="modal fade" tabindex="-1" role="dialog" id="routerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add New Route</h4>
        </div>
        <div class="modal-body">

          <fieldset class='form-horizontal'>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="firstName">First Name</label>
              <div class="col-md-4">
                <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="lastName">Last Name</label>
              <div class="col-md-4">
                <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">Username</label>
              <div class="col-md-4">
                <input id="username" name="username" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="bikeStyle">Bike Style</label>
              <div class="col-md-4">
                <input id="bikeStyle" name="bikeStyle" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="age">Age</label>
              <div class="col-md-4">
                <input id="age" name="age" type="number" placeholder="" class="form-control input-md">
              </div>
            </div>

          </fieldset>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveUser">Save User</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>


<div class="container" id="user-update-modal"></div>

  </body>
</html>
