html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: black;
  color: white;
  background-image: url("/images/road-bike.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

button {
  padding: 20px;
  margin: 20px;
  border-color: black;
}

#login,
#goToRoutes {
  background-color: #5f5f5f;
}
