/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-text,
.modal-title {
  color: black;
}

button {
  padding: 20px;
  margin: 20px;
  border-color: black;
  color: white;
}

a {
  text-decoration: none;
}

#navbar-brand {
  text-size: 2.5vw;
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url("/images/user_profile.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}
