/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-text,
.modal-title {
  color: black;
}

button {
  padding: 20px;
  margin: 20px;
  border-color: black;
  color: white;
}

a {
  text-decoration: none;
}
